.box-background {
    background-color:#dedede;
}

h3 {
    color:rgb(89,170,165);
}

.box-content {
    background-color:whitesmoke;
    padding:20px 50px 15px;
    max-width:40%;
    margin-left:30px;
}

.page-head, h3 {
    font-family: Georgia,'Times New Roman', Times, serif; 
    font-weight:bold;
    font-size:24px;
}

.page-head {
    background-color:rgb(89,170,165); 
    color:white; 
    padding:15px 20px;
} 

.navbar-dark .navbar-nav .menu-item {
    color:#ababab;
}

.column-sm-12 .float-sm-none .profile-pic {
    align-items:center;
    float: left;
    max-width:30%;
    height:auto;
    flex-wrap: wrap;

}

.profile-pic {
    width:200px;
    height:200px;
    float: left;
}

.port-image {
    max-width:200px;
    background-color:blue;
    border-color:white;
    padding:10px;
    align:center;
    height:150px;
    float:none;
}