p {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

.name {
    font-size: 40px;
}

.navbar-light .navbar-nav .menu-item {
    color:#ababab;
}

footer {
    text-align: center;
    color:whitesmoke;
    background-color:#555555;
    padding: 15px;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: rgb(89,170,165);
}

.hidden {
  display: none;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
  }

  .container {
    position: relative;
    top: 100%;
    left: 50%;
    float: none;
  }

  /* Add some content at the bottom of the video/page */
  .content {
    margin: auto;
    left: 15%;
    position: fixed;
    text-align: center;
    bottom: 40%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 50%;
    color: #f1f1f1;
    width: 60%;
    padding: 20px;
    display: block;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 70px;
    position: fixed;
    display: inline-block;
    bottom: 5%;
    font-size: 14px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }